*{
  margin: 0;
}

.App{
  overflow: hidden; /* Hide scrollbars */
  background-color: black;
  background-image: url("./assets/starBack.png");
  background-repeat: no-repeat, repeat;
  /* Set a specific height */
  min-height: 100vh; 
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.logo {

  align-items: center;
  max-width: 200px;
}

.app__navBarLogo {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid white;
  object-fit:  contain;
}



.todayGallery{
  text-align: center;
  color: white;
  padding: 75px
}

.app__signup{
 display: flex;
 flex-direction: column;
 color: black;
}

