.post {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    background-color: rgb(17, 10, 44);
    max-width: 700px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.post__piece {
    width: 100%;
    object-fit: contain;
    color: white;
    border-top: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    color: white;
}

.post__bottom {
    display: flex; /*make into a row */
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 15px;
}